body {
	font-family: Fira Code, monospace;
	height: 100vh;
	background-color: #011627;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 400px;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar-text {
	margin: 0px;
	margin-top: 35%;
	text-align: left;
	color: #38c7bd;
}

.container {
	grid-template-columns: repeat(3, 0fr);
	gap: 10px;
	margin-right: 12vh;
	margin-top: 4vh;
	align-items: center;
	justify-content: center;
	display: grid;
}

.project-card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 354px;
}

.project-img-container {
	position: relative;
}

.project-img {
	width: 100%;
	height: auto;
}

.project-details {
	font-weight: 900;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	padding: 10px;
}

.project-title {
	font-size: 28px;
	margin: 5px 0 0;
}
.project-date {
	font-size: 14px;
	margin-left: 0px;
	margin-bottom: -10px;
}
.project-category {
	font-size: 16px;
}

.t-p {
	font-size: xx-large;
}
