body {
	font-family: Fira Code, monospace;
	height: 100vh;
	background-color: #011627;
}

.container {
	grid-template-columns: repeat(3, 1fr); /* Trzy kolumny o równej szerokości */
	gap: 10px; /* Dodatkowy margines między kartami */
	margin-top: 5vh;
	align-items: center;
	justify-content: center;
	display: grid;
}

.project-card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 350px;
}

.project-img-container {
	position: relative;
}

.project-img {
	width: 100%;
	height: auto;
}

.project-details {
	font-weight: 900;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	padding: 10px;
}

.project-title {
	font-size: 28px;
	margin: 5px 0 0;
}
.project-date {
	font-size: 14px;
	margin-left: 0px;
	margin-bottom: -10px;
}
.project-category {
	font-size: 16px;
}
